<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.finalteam.galleryfinal">

    <application android:allowBackup="true"
        android:supportsRtl="true"
        >

        <activity android:name=".PhotoSelectActivity"
            android:theme="@style/PhotoActivityTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".PhotoEditActivity"
            android:theme="@style/PhotoActivityTheme"
            android:screenOrientation="portrait"/>
    </application>

</manifest>